@import 'colors';

.button {
    display: flex;
    padding: 10px 30px;
    height: 20px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.filled-button {
    border: none;
    background-color: $blue;
    color: white;
}

.filled-button:hover {
    background-color: $highlight-blue;
}

.delete-button {
    border: none;
    background-color: $red;
    color: white;
}

.delete-button:hover {
    background-color: $hover-red;
}

.inverse-button {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-color: $blue;
    color: $blue;
    height: 16px;
    border-radius: 100px 100px 100px 100px;
}

.inverse-button:hover {
    border-color: $highlight-blue;
    font-weight: 600;
}

.inverse-delete-button {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-color: $red;
    color: $red;
    height: 16px;
    border-radius: 100px 100px 100px 100px;
}

.inverse-delete-button:hover {
    border-color: $hover-red;
    font-weight: 600;
}

.disabled-button {
    cursor: not-allowed;
    background-color: $disabled-background !important;
    color: $disabled-text !important;
    border-color: $disabled-background;
}

.disabled-button:hover {
    border-color: $disabled-background;
    font-weight: 400;
}

.add-song-no-songs-error {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
}