$blue: rgb(0, 93, 255);
$highlight-blue: rgba(0, 93, 255, 0.8);
$hover-blue: rgb(240, 246, 255);
$hover-white: rgb(212, 228, 255);
$disabled-background: #C8C8C8;
$disabled-text: #707070;
$red: #BF0000;
$hover-red: rgb(255, 0, 0);
