@import 'colors';

#modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    background-color: rgba(0, 22, 61, 0.65);
}

#modal-background .popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    padding: 20px;
}

.modal-buttons-container {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
}

.modal-title {
    user-select: none;
    font-size: 40px;
    width: fit-content;
    padding-right: 100px;
    padding-bottom: 5px;
    font-weight: 700;
    border-bottom: 2px solid $blue;
}

.prompt {
    font-size: 22px;
    margin: 10px 0;
}

.primary-load-container {
    display: flex;
    align-items: center;
}