@import "colors";

.content {
  height: calc(100vh - 50px - 150px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bottom-row {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.content-info-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100px;
}

.content-info-container .top-row {
  display: flex;
  width: 100%;
  height: 50%;
}

.top-row{
  position: relative;
}

.song-number {
  width: 150px;
  font-size: 35px;
}

.playall-icon {
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
  margin-right: -10px;
  width: 58px;
}

.playall-icon path {
  fill: white;
}

.playall-icon svg {
  transform: scale(0.3);
  width: 60px;
  height: 50px;
}

.delete-playlist-icon {
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  margin-bottom: -1px;
  width: 58px;
}

.delete-playlist-icon path {
  fill: $red;
}

.delete-playlist-icon svg {
  transform: scale(0.4);
  width: 60px;
  height: 50px;
}

.playall-button {
  height: 15px;
  margin-top: 10px;
  margin-left: 30px;
}

.addsong-button {
  height: 15px;
  margin-top: 10px;
  margin-left: 20px;
  color: $blue;
}

.add-song-text {
  font-weight: 700;
  font-size: 20px;
  margin-right: 5px;
}

.song-list-separator {
  margin: 30px 30px -30px 30px;
  height: 1px;
  background: $blue;
  z-index: 10;
}
.editplaylist-button {
  position: absolute;
  right: 76px;
  bottom: 2px;
}

.copyplaylist-button{
  position: absolute;
  right: 162px;
  bottom: 2px;
}

.copy-playlist-text{
  padding-left: 6px;
}

.edit-playlist-text{
  padding-left: 4px;
}

.search-result {
  color: $blue;
  background-color: $hover-blue;
}

.song-search-content {
  max-height: 30vh;
  overflow: auto;
}

.deleteplaylist-button {
  position: absolute;
  right: 0;
  top: 10px;
  width: 3px;
}