html, body, #App {
  margin: 0;
  height: 100%;
  font-family: "Segoe UI", serif;

}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.controls {
  display: flex;
  max-height: 13%;
  min-height: 170px;
  border-top: 1px solid gray;
}

.content {
  display: flex;
  flex-grow: 1;
}

